{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ForCheck</title>
      <link rel="icon" href="{% static 'db.png' %}" type="image/x-icon">
</head>
<body style=
              "font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace;
              height: 100%;
              margin: 0;
              background: url({% static 'under_construction.png' %}) no-repeat fixed;">
<h1>
    ForCheck
</h1>
<h5>
    This is API for Office Registrator
</h5>
<h3>
    Current Office Registrator location: <a href="https://forcheck.studio"> ForCheck Studio</a>
</h3>
</body>
</html>